.wrapper {
  /* display: none; */
  z-index: 200;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.4);
}
.chatbot-container {
  z-index: 300;
  position: fixed;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
}

.chatbot-container img {
  opacity: 0.7;
  width: 30px;
  height: 30px;
  background-color: rgb(255, 173, 21);
  padding: 10px;
  border-radius: 50%;
  transition: 0.35s;
}

.chatbot-container img:hover {
  opacity: 1;
}

.closebtn {
  color: white;
  position: absolute;
  top: -30px;
  right: 30px;
  text-decoration: underline;
}
