.home-container-1 {
  height: auto;
  width: 100%;
  max-width: 1250px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.home-container-2 {
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  width: calc(100%);
  /* border: solid 1px #d6d9dc; */
  box-sizing: border-box;
  padding: 24px;
}
