.home-container-1 {
  width: 100%;
  max-width: 1250px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  height: 100%;
}

.home-container-2 {
  height: calc(100vh - 30px);
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  width: calc(100%);
  box-sizing: border-box;
  padding: 30px 30px 0px 24px;
}
