.main-bar {
  width: calc(100% - 300px - 25px);
  margin-top: 10px;
}

.main-bar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-bar-header h1 {
  font-weight: 400;
}

.main-bar-header .ask-btn {
  padding: 10px 15px;
  border-radius: 4px;
  background: #009dff;
  color: white;
  border: 0;
  text-decoration: none;
  transition: 0.2s;
}

.main-bar-header .ask-btn:hover {
  background: #0086d8;
}

.display-question-container {
  min-height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  background: #fdf7e2;
  border-bottom: solid 1px #edeff0;
}

.display-question-container .display-votes-ans {
  padding: 20px;
}

.display-question-container .display-votes-ans p {
  text-align: center;
  margin: 0%;
}

.display-question-details {
  flex-grow: 1;
  padding: 0px 20px;
}

.display-question-links {
  text-decoration: none;
  color: #037ecb;
  transition: 0.3s;
}
.display-question-links:hover {
  color: #009dff;
}

.display-question-details p {
  padding: 4px;
  margin: 0;
  font-size: 13px;
}

.display-tags-time {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.display-tags-time .display-tags {
  display: flex;
  flex-wrap: wrap;
}

.display-tags-time .display-tags p {
  margin: 4px;
  padding: 5px;
  font-size: 13px;
  color: #39739d;
  background: #edeff0;
}
